<div class="fleet" id="fleet{{ fleet.id }}">
    {{ include('fleet/fleet_details.html.twig', {fleet: fleet}) }}

    {% if not fleet.destination %}
    <p>
        <a hx-get="{{ path('stellar_object', {id: fleet.position.id}) }}" hx-target="#selected">
            {{ fleet.position.name }} - {{ fleet.position.getStarSystem().name }}
        </a>
    </p>
    <div>
        {{ form(travel_form, {'attr': {'hx-post': path('fleet_travel', {id: fleet.id}), 'hx-target': '#fleet' ~
        fleet.id, 'hx-trigger': 'submit', 'hx-swap': "outerHTML"}}) }}
    </div>
    {% else %}
    <p>Flying from <a hx-get="{{ path('stellar_object', {id: fleet.position.id}) }}" hx-target="#selected">{{
            fleet.position.name }} - {{ fleet.position.getStarSystem().name }}</a> to <a
            hx-get="{{ path('stellar_object', {id: fleet.position.id}) }}" hx-target="#selected">{{
            fleet.destination.name }} - {{ fleet.destination.getStarSystem().name }}</a></p>
    {% endif %}


    {{ include('fleet/ships.html.twig', {ships: fleet.ships, fleet: fleet}) }}

    {% if not fleet.destination %}
    <div id="other_fleets">
        <h3>Other Fleets</h3>
        {% for other_fleet in fleet.position.fleets %}
        {% if other_fleet != fleet and not other_fleet.destination %}
        {{ include('fleet/other_fleet.html.twig') }}
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>