<div class="fleet" id="fleet{{ other_fleet.id }}">
    {% if other_fleet.player == fleet.player %}
    <a hx-get="{{ path('fleet', {id: other_fleet.id}) }}" hx-target="#selected">
        {{ other_fleet.name }}
    </a>
    <button hx-put="{{ path('fleet_absorb', {id: fleet.id, victim_id: other_fleet.id }) }}"
        hx-target="#fleet{{ other_fleet.id }}" hx-swap="delete">Absorb</button>
    {% else %}
    {{ other_fleet.name }} - {{ other_fleet.player.name }}
    {% endif %}
</div>