<div>
    <h2>
        <a hx-get="{{ path('stellar_object', {id: object.id}) }}" hx-target="#selected">
            {{ object.name }}
        </a>
    </h2>

    <p>
        {% if object.isColonizable() %}
        Colonizable : Yes
        {% else %}
        Colonizable : No
        {% endif %}
    </p>

    {% if object.fleets|length %}
    <div>
        <h3>Fleets</h3>
        {% for fleet in object.fleets %}
        {% if not fleet.destination %}
        <div>
            {% if fleet.player == player %}
            <a hx-get="{{ path('fleet', {id: fleet.id}) }}" hx-target="#selected">
                {{ fleet.name }}
            </a>
            {% else %}
            {{ fleet.name }} - {{ fleet.player.name }}
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if object.colonies|length %}
    <div>
        <h3>Colonies</h3>
        {% for colony in object.colonies %}
        <div>
            {% if colony.player == player %}
            <a hx-get="{{ path('colony', {id: colony.id}) }}" hx-target="#selected">
                {{ colony.name }}
            </a>
            {% else %}
            {{ colony.name }} - {{ colony.player.name }}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>