<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% block stylesheets %}
    {% endblock %}

    <script src="{{ asset('js/htmx.min.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
</head>

<body>
    <header>
        {% block header %}
        <nav>
            <a id="github" href="https://github.com/skiserv/htmxgame" target="_blank">
                <img src="{{ asset('pictures/icons/logo--github.svg') }}" alt="github logo">
            </a>
            <a class="btn" href="{{ path('app_index') }}">/HTMXGame</a>
            <a class="btn" hx-get="{{ path('colonies') }}" hx-target="#selected">Colonies</a>
            <a class="btn" hx-get="{{ path('fleets') }}" hx-target="#selected">Fleets</a>
            <a class="btn" hx-get="{{ path('ranking') }}" hx-target="#selected">Ranking</a>
            <a class="btn" hx-get="{{ path('notifications') }}" hx-target="#selected">
                Notifications
                <!--{% if player is defined %}
                (<span id="unread_notif">{{ player.getUnreadNotifications() }}</span>)
                {% endif %}-->
            </a>
            <a class="btn" href="{{ path('app_logout') }}">Logout</a>
        </nav>
        {% endblock %}
    </header>
    {% block body %}{% endblock %}
</body>

</html>